__pycache__/
*.pyc
*.pyo

.env
.env.*

.ipynb_checkpoints/

*.log
*.tmp

data/
outputs/
checkpoints/
understanding_the_flow/


baseline/node_edge_embeddings_meta.json
baseline/node_edge_embeddings.npy
baseline/node_edge_texts.json
baseline/node_embeddings_meta.json
baseline/node_embeddings.npy
baseline/node_texts.json


proposed_solution/edge_embeddings/edge_embeddings.json
proposed_solution/edge_embeddings/trained_model.pt

QA/multi_hop_qa.json
QA/single_hop_qa.json
QA/multi_hop_chains.json
QA/multi_hop_qa_fixed.json
QA/single_hop_qa_fixed.json


proposed_solution/edge_embeddings/edge_embeddings.json
proposed_solution/edge_embeddings/trained_model.pt
proposed_solution/edge_embeddings2/edge_embeddings_meta.json
proposed_solution/edge_embeddings2/edge_embeddings.npy
proposed_solution/RL_agent/query_embeddings_meta.json
proposed_solution/RL_agent/query_embeddings.npy
proposed_solution/RL_agent/checkpoints/best_model.pt
proposed_solution/RL_agent/checkpoints/checkpoint_epoch*.pt
proposed_solution/RL_agent/training_log.json
proposed_solution/RL_agent/test_data.json
proposed_solution/RL_agent/eval_results.json
proposed_solution/RL_agent/eval_llm_results.json
proposed_solution/RL_agent/eval_llm_checkpoint.json



Evaluation/results/

*.gpickle
*.csv
