__pycache__/
*.pyc
*.pyo

.env
.env.*

.ipynb_checkpoints/

*.log
*.tmp

data/
outputs/
checkpoints/
understanding_the_flow/


Baseline/node_edge_embeddings_meta.json
Baseline/node_edge_embeddings.npy
Baseline/node_edge_texts.json
Baseline/node_embeddings_meta.json
Baseline/node_embeddings.npy
Baseline/node_texts.json


QA/multi_hop_qa.json
QA/single_hop_qa.json
QA/multi_hop_chains.json

Evaluation/results/

*.gpickle
*.csv
